@model _23DH113015_MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Xóa sản phẩm</h2>

<h3 class="alert-danger">Bạn có chắc chắn muốn xóa danh mục này không ?</h3>

@Html.Partial("PVProdInfo",Model)

<div class="form-group">
    <div class="col-md-offset-3 col-md-9">

        @Html.ActionLink("Xóa", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm " })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })

    </div>
</div>
      